.holder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #7d7167;
  background-color: #2b2724;
  border: 2px solid #7d71675e;
  transition-property: all;
  transition-duration: 333ms;
  min-width: 120px;
}

.button:hover {
  font-size: 1rem;
  color: #2b2724;
  background-color: #7d7167;
}
